@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  font-family: "ADLaM Display", system-ui;
  background-color: #003D76;
}